[submodule "pack/mix/opt/syntastic"]
	path = pack/mix/opt/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
	branch = master
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
	branch = master
[submodule "pack/completor/start/completor.vim"]
	path = pack/completor/start/completor.vim
	url = https://github.com/maralla/completor.vim.git
	branch = master
[submodule "pack/plugins/start/completor.vim"]
	path = pack/plugins/start/completor.vim
	url = https://github.com/maralla/completor.vim.git
[submodule "pack/plugins/start/ultisnips"]
	path = pack/plugins/start/ultisnips
	url = https://github.com/sirver/ultisnips.git
[submodule "pack/plugins/start/vim-fswitch"]
	path = pack/plugins/start/vim-fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
	branch = master
[submodule "pack/plugins/start/completor"]
	path = pack/plugins/start/completor
	url = https://github.com/maralla/completor.vim.git
	branch = master
[submodule "pack/plugins/start/completor"]
	path = pack/plugins/start/completor
	url = https://github.com/maralla/completor.vim.git
	branch = master
[submodule "pack/plugins/start/syntastic"]
	path = pack/plugins/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
	branch = master
[submodule "pack/plugins/start/rust.vim"]
	path = pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/glsl.vim"]
	path = pack/glsl.vim
	url = https://github.com/beyondmarc/glsl.vim.git
[submodule "pack/bigov/opt/glsl.vim"]
	path = pack/bigov/opt/glsl.vim
	url = https://github.com/beyondmarc/glsl.vim.git
[submodule "pack/git/opt/glsl.vim"]
	path = pack/git/opt/glsl.vim
	url = https://github.com/beyondmarc/glsl.vim.git
[submodule "pack/git/opt/vim-airline"]
	path = pack/git/opt/vim-airline
	url = https://git::@github.com/vim-airline/vim-airline.git
[submodule "pack/git/opt/vim-airline-themes"]
	path = pack/git/opt/vim-airline-themes
	url = https://git::@github.com/vim-airline/vim-airline-themes.git
[submodule "pack/git/opt/syntastic"]
	path = pack/git/opt/syntastic
	url = https://git::@github.com/vim-syntastic/syntastic.git
[submodule "pack/git/opt/completor.vim"]
	path = pack/git/opt/completor.vim
	url = https://git::@github.com/maralla/completor.vim.git
[submodule "pack/git/opt/tabular"]
	path = pack/git/opt/tabular
	url = https://git::@github.com/godlygeek/tabular.git
[submodule "pack/git/opt/tagbar"]
	path = pack/git/opt/tagbar
	url = https://git::@github.com/majutsushi/tagbar.git
[submodule "pack/git/opt/vim-fswitch"]
	path = pack/git/opt/vim-fswitch
	url = https://git::@github.com/derekwyatt/vim-fswitch.git
[submodule "pack/git/opt/vim-markdown"]
	path = pack/git/opt/vim-markdown
	url = https://git::@github.com/plasticboy/vim-markdown.git
[submodule "pack/git/opt/vim-fugitive"]
	path = pack/git/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "pack/git/opt/vim-pathogen"]
	path = pack/git/opt/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://git::@github.com/vim-airline/vim-airline.git
[submodule "pack/git/opt/vim.macaw"]
	path = pack/git/opt/vim.macaw
	url = https://github.com/urbainvaes/vim-macaw.git
[submodule "pack/git/opt/vim-atomic"]
	path = pack/git/opt/vim-atomic
	url = https://github.com/gerardbm/vim-atomic.git
[submodule "pack/git/opt/vim-cpp-modern"]
	path = pack/git/opt/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern.git
[submodule "pack/git/opt/vimwiki"]
	path = pack/git/opt/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "pack/git/opt/utils"]
	path = pack/git/opt/utils
	url = https://github.com/vimwiki/utils.git
[submodule "pack/git/opt/vimwiki-utils"]
	path = pack/git/opt/vimwiki-utils
	url = https://github.com/vimwiki/utils.git
[submodule "pack/git/opt/vim-dirvish"]
	path = pack/git/opt/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish.git
[submodule "pack/git/opt/supertab"]
	path = pack/git/opt/supertab
	url = https://github.com/ervandew/supertab.git
