[submodule "pack/git/opt/glsl.vim"]
	path = pack/git/opt/glsl.vim
	url = https://github.com/beyondmarc/glsl.vim.git
[submodule "pack/git/opt/syntastic"]
	path = pack/git/opt/syntastic
	url = https://git::@github.com/vim-syntastic/syntastic.git
[submodule "pack/git/opt/tabular"]
	path = pack/git/opt/tabular
	url = https://git::@github.com/godlygeek/tabular.git
[submodule "pack/git/opt/tagbar"]
	path = pack/git/opt/tagbar
	url = https://git::@github.com/majutsushi/tagbar.git
[submodule "pack/git/opt/vim-fswitch"]
	path = pack/git/opt/vim-fswitch
	url = https://git::@github.com/derekwyatt/vim-fswitch.git
[submodule "pack/git/opt/vim-markdown"]
	path = pack/git/opt/vim-markdown
	url = https://git::@github.com/plasticboy/vim-markdown.git
[submodule "pack/git/opt/vim-fugitive"]
	path = pack/git/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "pack/git/opt/vim.macaw"]
	path = pack/git/opt/vim.macaw
	url = https://github.com/urbainvaes/vim-macaw.git
[submodule "pack/git/opt/vim-cpp-modern"]
	path = pack/git/opt/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern.git
[submodule "pack/git/opt/vim-dirvish"]
	path = pack/git/opt/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish.git
[submodule "pack/git/opt/supertab"]
	path = pack/git/opt/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "pack/git/opt/matchit"]
	path = pack/git/opt/matchit
	url = https://github.com/chrisbra/matchit.git
[submodule "pack/git/opt/ctrlp.vim"]
	path = pack/git/opt/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
